@{
    ViewData["Title"] = "Cliente";
}

<div class="text-center">
    <a class="light-blue-text" asp-area="" asp-controller="EntradaCaixa" asp-action="Index"><i class="material-icons">calendar_month</i>Entrada de Caixa</a>
    <a class="light-blue-text" asp-area="" asp-controller="SaidaCaixa" asp-action="Index"><i class="material-icons">calendar_month</i>Saída de Caixa</a>
    <a class="light-blue-text" asp-area="" asp-controller="Cobrancas" asp-action="Index"><i class="material-icons">calendar_month</i>Em Abertos</a>
</div>
