@model AdvSystem.Models.SaidaCaixa

@{
    ViewData["Title"] = "Saída de Caixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cadastrar Nova Saída</h3>

<hr />
<div class="row">
    <form asp-action="CreatePJ" class="col s12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="input-field col s6">
                <select asp-for="ClienteJId" asp-items="ViewBag.ClienteJId">
                    <option value="">Selecionar</option>
                </select>
                <label>Cliente</label>
            </div>
            <div class="input-field col s4">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="input-field col s4">
                <select asp-for="MetodoPagamento">
                    <option value="0">Selecionar</option>
                    <option value="1">Cédula</option>
                    <option value="2">Débito</option>
                    <option value="3">Crédito</option>
                    <option value="4">Cheque</option>
                </select>
                <label>Método de Pagamento</label>
                <span asp-validation-for="MetodoPagamento" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="input-field col s6">
                <label asp-for="Data"></label>
                <input asp-for="Data" type="text" class="datepicker" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label>
                        <input type="checkbox" asp-for="Sangria" />
                        <span>Sangria</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="waves-effect btn light-blue"><i class="material-icons left">add_circle</i>Cadastrar</button>
                <a asp-action="Index" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
