@model AdvSystem.Models.PessoaFisica
@{
    ViewData["Title"] = "Gerador de Peças";
}


<table class="centered responsive-table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Procuração</td>
            <td>
                <a class="btn-floating btn-medium waves-effect light-blue" asp-action="ProcuracaoPessoaFisica" asp-route-id="@Model.Id"><i class="material-icons left">check_circle</i>Pessoa Física</a>
            </td>
        </tr>
        <tr>
            <td>Recibo</td>
            <td>
                <a class="btn-floating btn-medium waves-effect light-blue" asp-action="ReciboPessoaFisica" asp-route-id="@Model.Id"><i class="material-icons left">check_circle</i>Pessoa Física</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}