@model AdvSystem.Models.Usuario

<div class="nav-wrapper grey darken-3">
    <a href="#" class="brand-logo"><i class="material-icons left">gavel</i>ProAdvoc</a>
    <a href="#" class="brand-logo center">@Model.Nome</a>
    <ul id="dropdown1" class="dropdown-content">
        @if(Model.Perfil == AdvSystem.Models.Enums.Perfil.Advogado)
        {
            <li><a class="light-blue-text" asp-area="" asp-controller="Cliente" asp-action="Index"><i class="material-icons">person</i>Cliente</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Caixa" asp-action="Index"><i class="material-icons">account_balance</i>Caixa</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="GerenciaProcessos" asp-action="Index"><i class="material-symbols-outlined">clinical_notes</i>Processos</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Agenda" asp-action="Index"><i class="material-icons">calendar_month</i>Agenda</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="ConversorDocumento" asp-action="Index"><i class="material-icons">photo_library</i>Conversor</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="GeradorPecas" asp-action="Index"><i class="material-icons">post_add</i>Gerador</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Usuario" asp-action="Index"><i class="material-icons">supervised_user_circle</i>Usuários</a></li>
        }
        @if(Model.Perfil == AdvSystem.Models.Enums.Perfil.Estagiario)
        {
            <li><a class="light-blue-text" asp-area="" asp-controller="Cliente" asp-action="Index"><i class="material-icons">person</i>Cliente</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="GerenciaProcessos" asp-action="Index"><i class="material-symbols-outlined">clinical_notes</i>Processos</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Agenda" asp-action="Index"><i class="material-icons">calendar_month</i>Agenda</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="ConversorDocumento" asp-action="Index"><i class="material-icons">photo_library</i>Conversor</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="GeradorPecas" asp-action="Index"><i class="material-icons">post_add</i>Gerador</a></li>
        }
        @if (Model.Perfil == AdvSystem.Models.Enums.Perfil.Secretario)
        {
            <li><a class="light-blue-text" asp-area="" asp-controller="Cliente" asp-action="Index"><i class="material-icons">person</i>Cliente</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Caixa" asp-action="Index"><i class="material-icons">account_balance</i>Caixa</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="Agenda" asp-action="Index"><i class="material-icons">calendar_month</i>Agenda</a></li>
            <li><a class="light-blue-text" asp-area="" asp-controller="ConversorDocumento" asp-action="Index"><i class="material-icons">photo_library</i>Conversor</a></li>
        }
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i></a></li>
        <li><a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons light-blue-text">apps</i></a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Sair"><i class="material-icons">logout</i></a></li>
    </ul>
</div>