@{
    ViewData["Title"] = "Cliente";
}

<div class="text-center">
    <a class="light-blue-text" asp-area="" asp-controller="PessoaFisica" asp-action="Index"><i class="material-icons">calendar_month</i>Pessoa Física</a>
    <a class="light-blue-text" asp-area="" asp-controller="PessoaJuridica" asp-action="Index"><i class="material-icons">calendar_month</i>Pessoa Jurídica</a>
</div>
